<div class="row">
  <div class="col-md-9" id="trip">
    <div class="panel" id="trip">
      <div class="panel-heading">
        <%= image_tag @trip.coverphoto, class: "trip-img pull-right" %>
        <h1 style="text-align: center;"><%= @trip.name %></h1>
        <% if current_user.id == @trip.owner_id %>
        <div style="text-align: center;">
          <%= link_to "Edit Trip", edit_trip_path(@trip), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete Trip", trip_path(@trip), method: :delete, class: "btn btn-sm btn-danger" %>
        </div>
        <% end %>
        <p><h4 class="trip-date">We are going to <%= @resort.name %> on <%= @trip.date.strftime("%m / %d / %Y")%></h4></p><br/>
        <p class="trip-des"><%= @trip.description %></p>
          <%= render partial: "forecast" %>
      </div>
    </div>
    <div class="col-md-4" id="feed-title">
      <%= render partial: 'twitter_feed' %>
    </div>
    <div class="col-md-8" id="feed-title">
      <%= render partial: 'photo_feed' %>
    </div>
    <div class="col-md-3">
      <div class="sidebar-offcanvas">
        <div class="list-group">
          <% if @trip.has_user?(current_user) %>
            <li class="list-group-item" id="trip"><h2 style="text-align: center;">Invite friends or<br/>Join this trip</h2></li>
            <%= render partial: 'email_form' %>
        <% end %>
          <li class="list-group-item" id="trip">
            <h2>
              Who's going 
              <% if user_can_join(@trip) %>
                <%= link_to "Join!", join_trip_path(@trip), class: "btn btn-info pull-right" %>
              <% end %>
            </h2>
          </li>
          <div class="scroll-feed">
            <% @trip.users.each do |user| %>
              <li class="list-group-item" id="trip"><h4><%= link_to user.name, user_path(user) %></h4></li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>