<div class="jumbotron">
  <p class="site-text"
    <%= @trip.name %><br/>
    <%= @trip.description %><br/>
    <%= @trip.date %><br/>
    <%= @trip.trip_location %><br/>
  </p>

  <ul>
    <%= @instas.each do |pic| %>
      <%= binding.pry %>
      <li><img src="#{pic.thumbnail_url}"></li> 
    <% end %>
  </ul>
</div>
