<div class="row">
  <div class="col-md-9" id="trip">
    <div class="panel" id="trip">
      <div class="panel-heading">
        <%= image_tag @trip.coverphoto, class: "trip-img pull-right" %>
        <h1><%= @trip.name %></h1>
        <p class="trip-des"><%= @trip.description %></p><br/>
        <p class="trip-des"><%= @trip.date.strftime("%m / %d / %Y")%></p><br/>
        <p class="trip-des"><% if @resort %>
           <%= @resort.name %></p>
          <%= render partial: "forecast" %>
      <% end %>
      </div>
    </div>
    <div class="col-md-4" id="feed-title">
      <%= render partial: 'twitter_feed' %>
    </div>
    <div class="col-md-8" id="feed-title">
      <%= render partial: 'photo_feed' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="sidebar-offcanvas">
      <div class="list-group">
        <% if @trip.has_user?(current_user) %>
          <li class="list-group-item" id="trip"><h2>Invite friends</h2></li>
          <%= render partial: 'email_form' %>
        <% end %>
          <li class="list-group-item" id="trip">
            <h2>
              Who's going 
              <% if user_can_join(@trip) %>
                <%= link_to "Join!", join_trip_path(@trip), class: "btn btn-info pull-right" %>
              <% end %>
            </h2>
          </li>
          <div class="scroll-feed">
            <% @trip.users.each do |user| %>
              <li class="list-group-item" id="trip"><h4><%= link_to user.name, user_path(user) %></h4></li>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>