<div class="jumbotron">
  <div class="row">
    <div class="site-title col-md-6 col-md-offset-1">
      <%= @trip.name %><br/>
      <%= @trip.description %><br/>
      <%= @trip.date.strftime("%m / %d / %Y")%><br/>
      <%= @resort.name %><br/>
      
      <p>
      <h2>Current Forcast for <%= @resort.name %></h2>
      Summary: <%= @forecast [:hourly][:summary] %><br/>
      Precipitation: <%= @forecast [:currently][:precipType] %><br/>
      Temperature: <%= @forecast [:currently][:temperature] %><br/>
      Windspeed: <%= @forecast [:currently][:windSpeed] %>
      </p>
    </div>
    <p>
    <%= image_tag @trip.coverphoto, class: "trip-img" %>
    </p>
  </div>

<div class="jumbotron">
  <ul>
    <% @instas.each do |pic| %>
      <li><%= image_tag pic.thumbnail_url %><li> 
    <% end %>
  </ul>
</div>
