<div class="jumbotron">
  <p class="site-text">
    <%= @trip.name %><br/>
    <%= @trip.description %><br/>
    <%= @trip.date.strftime("%m / %d / %Y")%><br/>
    <%= @resort.name %><br/>
  </p>
  <p>
  <%= image_tag @trip.coverphoto, class: "profile-img" %>
  </p>
</div>
