<div class="jumbotron">
    <p class="col-md-3 col-md-offset-1">
      <h2 class="site-title">Welcome <%= @user.name %></h2>
      <%= image_tag @user.avatar, class: "profile-img" %>
    </p>
    <p>
      <ul>
        <%= @trips.each do |trip| %>
          <li><%= link_to trip.name, trip_path(trip) %></li>
        <% end %>
      </ul>
    </p>
</div>

<div class="jumbotron">
  <h3 class="site-text">Your Epicmix stats</h3>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Stats for <%= @client.season_stats.last['year'] %></div>

        <!-- Table -->
        <table class="table">
        <tr>
          <td>Lifetime Vertical Feet</td>
          <td>Runs this Season</td>
          <td>Days on the Mountain</td>
        </tr>
        <tr>
          <td><%= @client.season_stats.last['verticalFeet'] %></td>
          <td><%= @client.season_stats.last['numberOfLifts'] %></td>
          <td><%= @client.season_stats.last['daysOnMountain'] %></td>
        </tr>
        </table>
      </div>
    </div>

</div>

<div class="jumbotron">
  <h3 class="site-text">Your trip history</h3>
    <div class="row site-txt-b">
    <% @trips.each do |trip| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <%= link_to trip.name, trip_path(trip) %>
            <%= trip.date %>
            <%= trip.trip_location %>
          </div>
        </div>
      </div>
    <% end %>
</div>
