<div class="jumbotron">
  <h1 class="site-text site-title" style="color: 000000">Welcome <%= @user.name %></h1>
  <p><%= image_tag(@user.avatar) %></p>
</div>

<div class="jumbotron">
  <h3 class="site-text">Your Epicmix stats</h3>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Stats for <%= @client.season_stats.last['year'] %></div>

        <!-- Table -->
        <table class="table">
        <tr>
          <td>Vertical Feet</td>
          <td>Runs</td>
          <td>Day on the Mountain</td>
        </tr>
        <tr>
          <td><%= @client.season_stats.last['verticalFeet'] %></td>
          <td><%= @client.season_stats.last['numberOfLifts'] %></td>
          <td><%= @client.season_stats.last['daysOnMountain'] %></td>
        </tr>
        </table>
      </div>
    </div>

</div>

<div class="jumbotron">
  <h3 class="site-text">Your trip history</h3>
    <div class="row site-txt-b">
    <% @trips.each do |trip| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <%= link_to trip.name, trip_path(trip) %>
            <%= trip.date %>
            <%= trip.trip_location %>
          </div>
        </div>
      </div>
    <% end %>
</div>
