<div class="jumbotron">
    <p class="col-md-3 col-md-offset-1">
      <h2 class="site-title">Welcome <%= @user.name %></h2>
      <%= image_tag @user.avatar, class: "profile-img" %>
    </p>
    <p>
      <ul>
        <%= @trips.each do |trip| %>
          <li><%= link_to trip.name, trip_path(trip) %></li>
        <% end %>
      </ul>
    </p>
</div>

<% if @user.has_epic_mix_data? %>
  <%= render partial: epic_mix_data, client: @user.epic_mix_client %>
<% end %>

<div class="jumbotron">
  <h3 class="site-text">Your trip history</h3>
    <div class="row site-txt-b">
    <% @trips.each do |trip| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <%= link_to trip.name, trip_path(trip) %>
            <%= trip.date %>
            <%= trip.trip_location %>
          </div>
        </div>
      </div>
    <% end %>
</div>
